<tr>
    <td>@Module.Name</td>
    <td>@Module.Description</td>
    <td>@Module.SlotSpacesRequired</td>
    <td>@Module.PowerRequirement</td>
    <td>@Module.PowerProduction</td>
    <td>@Module.Category</td>
    <td>@Module.DamageType</td>
    <td>@Module.Damage</td>
    <td>@Module.Armor</td>
    <td>@Module.Shield</td>
    <td>@Module.Speed</td>
    <td>@Module.Volley</td>
    <td>@Module.Range</td>
    <td>@Module.MissileSpeed</td>
    <td>@Module.Value</td>
    <td>@Module.Stealth</td>
    <td>@Module.Sensor</td>
    <td>@Module.IsIllegal</td>
</tr>
@code {
    [Parameter]
    public ShipModule Module { get; set; }
}
