<tr>
    <td>Name</td>
    <td>@Module.Name</td>
</tr>
<tr>
    <td>Description</td>
    <td>@Module.Description</td>
</tr>
<tr>
    <td>SlotSpacesRequired</td>
    <td>@Module.SlotSpacesRequired</td>
</tr>
<tr>
    <td>PowerRequirement</td>
    <td>@Module.PowerRequirement</td>
</tr>
<tr>
    <td>PowerProduction</td>
    <td>@Module.PowerProduction</td>
</tr>
<tr>
    <td>Category</td>
    <td>@Module.Category</td>
</tr>
<tr>
    <td>DamageType</td>
    <td>@Module.DamageType</td>
</tr>
<tr>
    <td>Damage</td>
    <td>@Module.Damage</td>
</tr>
<tr>
    <td>Armor</td>
    <td>@Module.Armor</td>
</tr>
<tr>
    <td>Shield</td>
    <td>@Module.Shield</td>
</tr>
<tr>
    <td>Speed</td>
    <td>@Module.Speed</td>
</tr>
<tr>
    <td>AoE</td>
    <td>@Module.AoE</td>
</tr>
<tr>
    <td>Range</td>
    <td>@Module.Range</td>
</tr>
<tr>
    <td>MissileSpeed</td>
    <td>@Module.MissileSpeed</td>
</tr>
<tr>
    <td>Value</td>
    <td>@Module.Value</td>
</tr>
<tr>
    <td>Stealth</td>
    <td>@Module.Stealth</td>
</tr>
<tr>
    <td>Sensor</td>
    <td>@Module.Sensor</td>
</tr>
<tr>
    <td>IsIllegal</td>
    <td>@Module.IsIllegal</td>
</tr>
@code {
    [Parameter]
    public ShipModule Module { get; set; }
}
